version: 2
jobs:
    build:
        docket:
            - image: circleci/ifl_0.0.1
        steps:
            - checkout
            - run: 
                name: Build ILF
                command: make

workflows:
    version: 2
    build_and_test:
        jobs:
            - build
